buildozer==0.40.dev0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
configobj==5.0.6
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pexpect==4.7.0
ptyprocess==0.6.0
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyparted==3.11.1
python-apt==1.6.4
python-xlib==0.20
pyxdg==0.25
requests==2.22.0
setproctitle==1.1.10
sh==1.12.14
six==1.11.0
urllib3==1.25.3
virtualenv==16.7.7
Werkzeug==0.15.5
